.desknav{display: none;}

.sec1{width: 100%;
      height: 40%;
      background-color:  rgb(15, 31, 69)}

.msitelogo{ width: 30%;
            height: auto;
            margin-left: 35%;
            margin-right: 35%;}

.sec2{ display: grid;
       grid-template-columns: auto auto auto auto auto;
       grid-template-rows: auto;
            }
.mnavbuttons1{background-color:  rgb(28, 68, 148);
               border: 2px rgb(39, 87, 184) solid;}


.navimg{width: auto;
        height: auto;}

.container6{background: url(../images/bg1A.webp);
            background-size: 100% auto; 
            background-repeat: repeat;  
            padding: 10px; 
            border-left: rgb(15, 36, 77) solid 5px;
            border-right: rgb(15, 36, 77) solid 5px; }

 .container6 > div{ margin: 10px;
                    background: linear-gradient(to top, rgb(7, 54, 161),rgba(52, 67, 107), rgb(9, 54, 161));
                    border: solid rgb(15, 31, 69) 5px;
                    color: thistle;
                    border-radius: 15px 70px; 
                    padding-left: 10%;
                    padding-right: 10%;}
 h1{ font-size: 1.5em;
     text-align: center;
     font-family: sans-serif;
     margin-bottom: 5px;}

h2{font-size:  1.3em;
   font-family: fantasy;
    text-align: left;}

p{ text-indent: 10px;
   font-size: 1em;
   padding-top: 30px;
   text-align: justify;
   line-height: 1.4;
   }

.g1 > img{width: 80%;
          height: auto;
          margin-bottom: 5px;
          margin-left: 10%;}


.g2 > img {width: 80%;
           height: auto;
            margin-left: 10%;
            margin-bottom: 5px;
            margin-right: 10%;}


 .g3 > img{width: 80%;
           margin-left: 10%;
           margin-bottom: 5px;
           height: auto;}

 .g4 > img {width: 80%;
            margin-left: 10%;
            margin-bottom: 5px;
            height: auto;}

 .g5 > img {width: 80%;
            margin-left: 10%;
            margin-bottom: 5px;
            height: auto;}


 .container{display: none;}

 .mimage{width: 80%;
         display: block;
         margin-left: auto;
        margin-right: auto;}


            .footer{
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: auto auto auto auto;
            }
            .fitem1{background-color:rgb(15, 31, 69);}
            .social{width: 35%;
                    height: auto;
                    margin-left: 10%;
                    margin-top: 2%;}
            
            .fitem2{background-color: rgb(15, 31, 69);}
            .fitem2 > span{font-size: 3vw;
                           color: steelblue; 
                           text-transform: uppercase;
                           margin-left: 20%;
                           margin-top: 2%;}
                    
            .fitem2 > a >img{margin-left: 4%;
                              padding-top: 5%;
                              width: 20%;}    
                               
            .fitem3{background-color:rgb(15, 31, 69)}
              
            .fitem3 > img{padding-left: 10%;
                          width: 20%; 
                          height: auto;
                          margin-top: 5%;} 
                              
             .fitem3 > .nn{color: steelblue;
                           font-size: 2vw;
                           float: right;
                           margin-right: 20%;}
            
             .fitem4{  padding-left: 15%;
                       font-size: 2vw;
                       color: steelblue;
                       background-color:rgb(15, 31, 69);}  
                  
            
            
            
             /*----------------------------------------------desktop designs-----------------------------------------------------------*/
            
            
            

    @media only screen and (min-width: 1150px){   
     

        * { 
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
               /*-----------------------------------Navigation bar in desktop--------------------------------------------------*/
        
        .mobilenav {display: none;}
        .desknav {                                                 
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 5%;
            background-color: rgb(15, 31, 69);
            flex-wrap: nowrap;
        }
        .navigation_links li, a, button {                        /* navigation link links, button */
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
            font-size: 25px;
            color: steelblue;
            text-decoration: none;}
        
        
        .navigation_links{
            list-style: none;
        }
        .navigation_links li{
           display: inline-block;
           padding: 0px 30px;
             transition: 0.3s ease ;
        }
        
        .navigation_links li a {
            transition: 0.3s ease ;
        }
        .navigation_links li a:hover {
            color: white;
            background-color: rgb(15, 31, 69);
        }
        
        #buynowbutton{font-family: 'Times New Roman', Times, serif;      /*buy now button*/ 
               font-weight: 500;
               font-size: 25px;
               color: white;
               text-decoration: none;
               padding: 9px 25px;
               background-color:rgb(37, 127, 163);
               border: none;
               border-radius: 50px;
               cursor: pointer;
               transition: 0.3s ease ;
        }
        #buynowbutton:hover{
            background-color: white;
            color: rgb(37, 127, 163);
        }

 /*--------------------------------------------page content-----------------------------------------------------------------*/

 .container6{                                            
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    background: url(../images/bg1A.webp);
    background-size: 100% auto;
    background-repeat: repeat;  
    padding: 40px;  }

  .container6 > div{                                      /*Homepage content*/
        margin: 10px;
        background: linear-gradient(to top, rgb(7, 54, 161),rgba(52, 67, 107), rgb(9, 54, 161));
        border: solid rgb(15, 31, 69) 5px;
        border-radius: 15px 70px; 
        padding-left: 80px;
        padding-right: 80px;}

  h1{ font-size: 3em;
      text-align: center;
      margin-bottom: 20px;}

  h2{ font-size: 2em;
      text-align: center;
      margin-bottom: 20px;}

      p{  text-indent: 50px;
        font-size: 1.5em;
        padding-top: 30px;
        text-align: justify;
        line-height: 1.6;}

  .g1{ grid-column-start: 1;
       grid-column-end: 3; 
     }

  .g1 > img {width: 70%;
             height: auto;
             margin-left: 15%;
             margin-right: 15%;}


 

             .container {
                position: relative;
                width: 50%;
                display: block;
                margin-left: auto;
                margin-right: auto;
              }
              
              .image {
                display: block;
                width: 100%;
                height: auto;
              }
              
              .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: rgba(37, 127, 163, 0.8);
              }
              
              .container:hover .overlay {
                opacity: 0.8;
              }
              
              .text {
                color: white;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
              }





 .mimage{display: none;}


  .g2{ grid-column-start: 1;
        grid-column-end: 3;}

  .g3 > img{width: 100%;
            height: auto;}

  .g4 > img {width: 100%;
             height: auto;}

 .g5{ grid-column-start: 1;
      grid-column-end: 3;}

  .g5 > img {width: 35%;
             margin-left: 10%;
             height: auto;}


  


























        
    /*---------------------------------------desktop footer-----------------------------------------------------*/

    .footerm{display: none;}
.footer{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 300px 50px;
}
.fitem1{background-color:rgb(15, 31, 69);}
.social{width: 50%;
        margin-left: 20%;
        margin-top: 5%;}

.fitem2{background-color: rgb(15, 31, 69);}
.fitem2 > span{font-size: 2vw;
               color: steelblue; 
                text-transform: uppercase;
                text-align: center;
                margin-left: 18%;
                margin-top: 10%;}

.fitem2 > a >img{margin-left: 4%;
              padding-top: 5%;
              width: 20%;}    
           



.fitem3{background-color:rgb(15, 31, 69)}
  
.fitem3 > img{padding-left: 10%;
              width: 80%;
              height: auto;
              padding-top: 5%;} 

.fitem3 > .nn{color: steelblue;
              font-size: 1vw;
             padding-left: 20px; }

.fitem4{  padding-left: 15%;
          font-size: 1.3em;
          color: steelblue;
          grid-column-start: 1;                                             
          grid-column-end: 4;
          background-color:rgb(15, 31, 69);
        }



}

